*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f5f5f5;
}


button{
  border: none;
  padding: 15px 30px;
  display: inline-block;
  background-color: #ddd;
  margin: 25px 25px auto auto;
  border-radius: 5px;
  font-size: 17px;
  line-height: 27px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-transform: uppercase;
  transition: 0.3s all;
  cursor: pointer;
  
}

button::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: -1;
  transition: 0.3s all;
  transform: translateX(-100%);

}

button:hover{
  color: white;
}
button:hover:before{
  transform: translateX(0);
  transform-origin: left;
}